@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');


html {
  position: relative;
  min-height: 100%;
}
body {  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #eae7dc;
}

.titleCompany {
    font-family: 'Hanalei Fill', cursive;
    font-size: 54px;
    color: white;
}

.titleCompany:hover {
    transform: scale(1.25); 
    cursor: pointer;
}

.nav-link {
    font-size: 24px;
    color: white;
}

.container {
    width: 1100px;
    margin: 100px auto;
    box-sizing: border-box;  
}

.container .column {
    width: calc(33.3% - 30px);
    float: left;
    padding: 0 0 20px;
    margin:  0 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2) ;
    transition: .5s;
    cursor: pointer;
}

.container h3 {
    font-size: 60px;
    font-family: 'Hanalei Fill', cursive;
}

.container .column:hover {
   transform: scale(1.05); 
}

.title {
    background: #d8c3a5;
    padding: 20px 0;
}


.title .fa {
    padding: 0 0 25px;
    color: white;
    font-size: 60px;
}

.title h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.price {
    padding: 10px;
}

.price h4 {
    margin: 0;
    padding: 0;
    color: #009688;
    font-weight: 400;
    font-size: 30px;
}

.price h4 span {
    font-weight: 700;
    font-size: 60px;
}

.option ul {
    margin: 0;
    padding: 0;
}

.option ul li {
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1 solid rgba(0, 0, 0, .05);
    font-weight: 300;
    font-size: 30px;
}

.column .btnStyle {
    text-decoration: none;
    padding: 10px 40px;
    background: #e85a4f;
    color: #fff;
    margin: 20px 0 10px;
    display: inline-block;
    border-radius: 40px;
    text-transform: uppercase;
}

.column:nth-child(2) .title {
    background: #838d8a;
}

.column:nth-child(3) .title {
    background: #e85a4f;
}

table {
    background-color: #eae7dc;  
}

th {
    font-family: 'Black Han Sans', sans-serif;
    background: #838d8a;
    text-align: center;
}

td {
    font-family: 'Antic', sans-serif;
    text-align: center;
}

.card {
    background: #d8c3a5;
    font-size: 18px;
}

.card-body h5 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 60px;
    text-align: center;
}

.card-header {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 20px;
    
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  font-family: 'Antic', sans-serif;
  font-size: 30px;
}